
.cardone{
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
    margin-top: 800px;
    height: auto;
    width: 200px;
    position: absolute;
    text-align: left;
    color: white;
    box-shadow: 0 0.188em 1.00em rgb(185, 214, 165);
    padding: 3rem;
    padding-left: 2rem;
    padding-right: 5rem;
    border-radius: 40px;
  }

  .cardonetitle {
    font-size: 50px;
    margin-right: -40px;
    margin-top: -20px;
    margin-bottom: 30px;
   
  }

  .cardonepara{
   margin-bottom: 20px;
  }
  
  .button1{
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .button2 {
   
    background: none;
    color: white;
    position: absolute;
    padding-left: 20px;
  }

  .prvbtn{
    margin-bottom: 20px;
    
  }

