

.getstarted-css{
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    font-size: 100px;
}

.get-button{
    margin-top: 700px;
    margin-left: 50px;
    margin-right: 65px;
}

.starting-image{
    position: absolute;
    margin-top: -10%;
    margin-left: -0%;
    height: 200px;
    width: 200px;
    
}

.embark{
    padding-right: 45px;
    padding-left: 45px;
    border: none;
    padding-top: 5%;
    padding-bottom:  5%;
    background-color: white;
    border-radius: 10px;
    cursor:pointer;
    transition: 0.5s;
    
}


