.Homepage{
    text-align: center;
    background-color: black;
    height: 100vh;
    color: white;
    display: grid;
    place-content: center;
    
}

.Home-logo{
    width: 20vw;
    margin-top: 20px;

}

.welcome-head{
    text-align: center;
    margin-top: 100%;
}


.xplr-header{
    font-size: 600%;
    margin-top: 70%;
    text-shadow: 0 0.188em 1.00em rgb(0, 247, 255); ;
    
}

.welcome-para{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: -1.5%;
}

.trees1{
    width: 100%;
    margin-top: 100%;
}

.birds{
  
    margin-top: 100%;
    margin-right: -40%;
    width: 50%;
}

.mountain{
    width: 100%;
    margin-top: -400%;
    margin-bottom: 50%;
}

.forest{
    width: 120%;
    margin-top: -500%;
    margin-bottom: 120%;
}

.about-para{
    margin-top: -147%;
    margin-left: 10%;
    margin-right: 10%;
}

.xplr-header-2{
    font-size: 350%;
    margin-top: -145%;
    text-shadow: 0 0.188em 1.00em rgb(0, 255, 13); ;
    
}

.grass{
    width: 100%;
    margin-top: -800%;
    margin-bottom: 230%;
}