*{  margin:0;
    overflow: hidden;
  }
  

.register{
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    height:100vh;
    align-items: center;
    justify-content: center; 
  }
  
  .register-form{
    display: flex;
    flex-direction: column;
    margin-top: -7px;
  }

  .auth{
    padding: 5rem;
    width: 180px;
    height: 400px;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 0.188em 1.00em rgb(185, 214, 165);
    
  }

  label {
    text-align: left;
    padding: 0.25rem 0;
  }

  input{
    margin: 0.5rem 0;
    padding: 10px;
    border: none;
    border-radius: 10px;
  }

  button{
    border: none;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    cursor:pointer;
    transition: 0.5s;
  }
  
  button:hover{ transform: scale(1.1);}

  .link{
    background: none;
    color: white;
    text-decoration: underline;
    cursor:pointer;
    
  }

  .signbtn{
    margin-top: 10px;
   padding-right: 60px;
   padding-left: 60px;
  }
  
  .registerTitle{
    margin-top: -25px;
    margin-bottom: 25px;
  }