*{
  font-family: "CustomFont";
}


@font-face {
  font-family: "CustomFont";
  src: url(../src/fonts/google-sans-cufonfonts-webfont/ProductSans-Bold.woff);
}

.kaiju{
  position: absolute;
  width: 100%;
  margin-top: 110%;
  background-color: rgb(255, 255, 255);

}

.home-image{
  position: absolute;
  width: 20%;
  margin-top: -2%;
  margin-left: 40.3%;
}

.map-cont{

 padding-top: 15%;
 border-radius: 70%;
  height: 30vh;
  width: 90vw;
  margin-left: 5vw;
}

.exp-map-cont{
  
  padding-top: 15%;
 border-radius: 70%;
  height: 75vh;
  width: 90vw;
  margin-left: 5vw;
}

.exp{
  
  position: absolute;
  width: 90vw;
  margin-left: 5vw;
  text-align: center;
  content: 'expand';
  color: white;
  background-color: rgb(0, 0, 0);
}

.user-btn{
  font-size: 100%;
  position: absolute;
  background-color: rgb(149, 197, 255);
  margin-top: 15%;
  margin-left: 5%;
  padding: 2rem;
  border: none;
  border-radius: 10%;
  cursor:pointer;
  transition: 0.5s;
}

.home-bg{
  position: absolute;
  width: 100%;
  margin-top: 0%;
  opacity: 60%;
  padding-top: 40%;
}

.home2-bg{
  position: absolute;
  width: 100%;
  margin-top: 120%;
  opacity: 100%
}

.loc-btn{
    font-size: 110%;
    position: absolute;
    background-color: rgb(149, 197, 255);
    margin-top: 15%;
    margin-left: 61.3%;
    padding: 2rem;
    border-radius: 10%;
    cursor:pointer;
    transition: 0.5s;
    border: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  margin-top: 10%;
}

.grid-item {
  font-size: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 10px;
  cursor:pointer;
  transition: 0.5s;
  margin-right: -15%;
  padding: 1rem;
}

.home{
background-color: black;

}

@media screen and (max-width: 480px)  {
  .image-slider {
    max-width: 100px;
    font-size: 14px;
    
  }
}

.image-slider-home {
  max-width: 50vw;
  margin-top: 10%;
  margin-left: -40%;

 }

 .home-text{
  position: absolute;
  margin-top: -140%;
  color: rgb(255, 255, 255);
 }

.Location5{
 
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  height: 90vh;
}

.home-text1{
  position: absolute;
  margin-left: 4%;
  margin-top: -190%;
  font-size: 140%;
  color: rgb(255, 255, 255);
  padding: 5px;
 }

 .home-text2{
  padding: 5px;
  background-color: white;
  position: absolute;
  margin-top: -154%;
  margin-left: 9%;
  color: rgb(0, 0, 0);
 }

 .button-universal11{  
  position: absolute; 
  border: none;
  background-color: white;
  margin-top: -110%;
  margin-left: 3.5%;
  border-radius: 10px;
  cursor:pointer;
  transition: 0.5s;
  padding-left: 10%;
  padding-right: 10%;
}

.walk{
  position: absolute;
  width: 100%;
  margin-top: -160%;
}